*{
    margin: 0px;
    padding: 0px;
}
p{
    color: #969696;
}
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
a{
	text-decoration:none;

}
a:hover{
    color: #9cc4ac;
}
#header{
	width:100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-around;
    align-items: center;
}
#logo img{
    width: 100px;
    padding: 10px 0px;
}
#meni ul li{
	display:inline-block;
	list-style:none;
	text-transform:uppercase;
    padding-right: 40px;
}
#meni ul li a:hover{
    text-decoration: underline;
}
#meni ul li a{
    color: #fff;
    font-size: 15px;
    transition: 1s;
}
#meni ul li a:hover{
	color: #006838;
}
.work-time{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.time{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}
.banner{
    width: 100%;
    height: 800px;
    background: url(../img/banner.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.transparent-background{
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-title{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 100px;
}
.banner-title h1{
    color: white;
    font-size: 80px;
    letter-spacing: 3px;
}
.banner-title img{
    width: 50px;
}
